.container-fluid {
  width: 100%;
  margin: 0 auto;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.carousel-item {
  max-height: 75vh;
  width: 100%;
  min-height: 150px;
}
.carousel-inner {
  img {
    width: 100%;
    height: auto;
  }
}
// Inicio seccion productos

.h1Productos {
  margin-top: 30px;
  margin-left: 50px;
  font-size: 2.5rem;
}
.sectionCervezas {
  margin-top: 75px;

  padding-bottom: 100px;
  .card-body {
    p {
      font-size: 1.4rem;
      padding-top: 4px;
    }
    .btn-lg {
      margin-top: 10px;
      font-size: 1.7rem;
    }
    .btn-lg a:hover {
      background-color: yellow;
      transform: scale(1.1);
      color: black;
    }
  }
}

//Fin seccion productos

//Inicio seccion quienes somos

.container-fluid {
  .titulo-qs {
    margin-top: 50px;
    margin-left: 15px;
    margin-bottom: 50px;
  }
  .parrafo-qs {
    font-size: 1.7rem;
    margin-left: 15px;
  }

  .img-qs img {
    width: 60vw;
    height: auto;
    margin-bottom: 20px;
    margin-left: 40px;
  }
}

//Fin seccion quienes somos

//Inicio seccion de venta
.cont1 {
  padding-left: 15px;

  p {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.4rem;
  }
}
.titulo {
  margin-top: 50px;
  margin-left: 15px;
}
.card-body mt-5 {
  h2 {
    font-size: 3rem;
  }
}

//Fin seccion de venta

//Inicio  seccion contacto

.contacto {
  margin-top: 50px;
  margin-left: 15px;
  margin-bottom: 50px;
}
.col-contacto {
  padding-right: 50px;
  margin-bottom: 50px;
  font-size: 1.7rem;
  a {
    .btn {
      font-size: 1.7rem;
    }
  }
  .form-control {
    font-size: 1.3rem;
  }
}
.form-group {
  margin-bottom: 15px;
}

// Fin seccion contacto

// Inicio Error404

.error404 {
  background-color: whitesmoke;
  img {
    padding-top: 5px;
    height: 95vh;
  }
  button:hover {
    background-color: rgb(216, 17, 17);
    color: white;
  }
  .btn{
    font-size: 20px;
  }
}
// Fin Error404
